:root {
    --zl-main: #ff6900;
    --zl-lighter: white;
    --zl-discount: #ff0000;
    --zl-label: #008000;
    --zl-footer: #1a1a1a;
}

.product-container{
    justify-content: start;
    padding: 2rem 0;
    position: relative;
}

.product-details{
    width: 50%;
    padding: 0 4rem;
    *{
        margin-bottom: 1rem;
    }
    h1{
        font-size: 4rem;
        margin-bottom: 4rem;
        text-transform: uppercase;
    }
    p{
        font-size: 2rem;
        margin-bottom: 3rem;
    }
    .buy-btn{
        background-color: var(--zl-main);
        padding: 0.8rem 2rem;
        border-radius: 1rem;
        font-size: 1rem;
        border-style: none;
        box-shadow: 2px 2px black;
        transition-duration: 0.5s;
        &:hover{
            background-color: var(--zl-discount);
            box-shadow: 0 0 black;
            padding: 1rem 2.2rem;
        }
    }
    input{
        border-radius: 1rem;
        padding: 0.3rem;
        border: 1px solid black;
    }
    select{
        padding: 0.3rem;
        border-radius: 1rem;
    }
}

.product-img{
    width: 30%;
    img{
        max-width: 100%;
    }
}

.description{
    margin-bottom: 3rem;
}

.home{
    position: absolute;
    right: 0;
    font-size: 2rem;
    color: var(--zl-footer);
    transition-duration: 0.5s;
    &:hover{
        color: var(--zl-main);
        font-size: 3rem;
    }
}